**/bin/

# Ignore compiled binaries
*.class

# Eclipse files
*.settings
*.project
*.classpath

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore log files
*.log

# Ignore coverage reports
coverage/

# Ignore randomizer files from the core randomizer moved to the resources folder 
# or extracted by the appExample
libUniversalRandomizerJava/src/main/resources/
appExample/randomizer/
